@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,500i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
a:hover {
  text-decoration: none; }

/* 
CSS
*/
body {
  background: #999999; }

.topmenu {
  height: 50px;
  background: #a31b52;
  position: fixed;
  left: 0;
  right: 0;
  padding-top: 13px;
  z-index: 1; }
  .topmenu p {
    font-weight: 300;
    font-family: 'Roboto', sans-serif !important;
    color: #ffffff;
    font-size: 15px;
    text-align: center; }
    .topmenu p span {
      font-weight: 700; }

.forborder {
  border-top: #a31b52 1px dashed !important;
  border-bottom: #a31b52 1px dashed !important;
  margin-top: 48px; }

.aftermenuwhiteline {
  height: 15px;
  background: #ffffff;
  margin-top: 147px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1; }

.navbar-default {
  min-height: 100px;
  border: none;
  box-shadow: none;
  background: #ffffff; }
  .navbar-default .navbar-brand {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center; }
    .navbar-default .navbar-brand a {
      margin: auto;
      display: inline-block; }
      .navbar-default .navbar-brand a img {
        max-width: 400px; }
  .navbar-default .navbar-nav > li > a {
    text-shadow: none;
    padding-top: 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif !important;
    color: #000;
    font-size: 15px;
    margin: 0;
    margin-top: 35px;
    padding: 10px;
    margin-right: 15px;
    margin-left: -10px; }
    .navbar-default .navbar-nav > li > a p {
      padding: 0;
      margin: 0; }
  .navbar-default .navbar-nav > li > a:hover p,
  .navbar-default .navbar-nav > li > a:focus p {
    margin: 0;
    border-bottom: 3px solid #a31b52;
    padding-bottom: 4px; }
  .navbar-default .navbar-nav > li > .btnmenu {
    background: #96daec;
    font-weight: 400;
    font-family: 'Roboto', sans-serif !important;
    color: #ffffff;
    font-size: 15px;
    margin: 0;
    margin-top: 35px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px; }
    .navbar-default .navbar-nav > li > .btnmenu img {
      max-height: 17px;
      margin-top: -2px; }
    .navbar-default .navbar-nav > li > .btnmenu .crtica {
      display: inline-block;
      height: 15px;
      width: 1px;
      background: #ffffff;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: -2px; }
  .navbar-default .navbar-nav > li > .btnmenu:hover, .navbar-default .navbar-nav > li > .btnmenu:focus {
    background: #a31b52;
    color: #ffffff; }

@media screen and (max-width: 1200px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-default .navbar-toggle {
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 22px;
    display: block;
    border: none; }

  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background: transparent; }

  .navbar-default .navbar-toggle .icon-bar {
    background: #999999; }

  .navbar-default .navbar-nav {
    margin-top: 0;
    height: calc(100vh - 148px);
    overflow: scroll;
    padding: 0; }

  .navbar-default .navbar-nav > li > a {
    padding: 10px;
    padding-left: 20px; }
    .navbar-default .navbar-nav > li > a .crta {
      width: 0;
      margin-left: -20px;
      background: #a31b52;
      height: 2px;
      position: absolute;
      margin-top: 10px;
      transition: width 0.4s; }

  .navbar-default .navbar-nav > li {
    border-bottom: 2px solid #f2f3f4; }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-top: 1px solid #f2f3f4;
    height: 100vh !important;
    overflow-x: hidden; }

  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 200vh; }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #2358b9; }
    .navbar-default .navbar-nav > li > a:hover .crta,
    .navbar-default .navbar-nav > li > a:focus .crta {
      width: 100%;
      transition: width 0.8s; }
    .navbar-default .navbar-nav > li > a:hover p,
    .navbar-default .navbar-nav > li > a:focus p {
      margin: 0;
      border-bottom: none;
      padding-bottom: 0px; }

  .side-collapse-container {
    width: 100%;
    position: relative;
    right: 0;
    transition: left .4s; }

  .side-collapse-container.out {
    left: 200px; }

  .side-collapse {
    top: 148px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    bottom: 0;
    right: 0;
    width: 250px;
    position: fixed;
    overflow: hidden;
    transition: margin .4s;
    background: #ffffff; }

  .side-collapse.in {
    width: 250px;
    transition: margin .4s;
    margin-right: -250px; }

  .navbar-default .navbar-nav > li {
    width: 100%; } }
.navbar-toggle {
  border: none;
  background: transparent !important; }
  .navbar-toggle:hover {
    background: transparent !important; }
  .navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s; }
  .navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%; }
  .navbar-toggle .middle-bar {
    opacity: 0; }
  .navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%; }
  .navbar-toggle.collapsed .top-bar {
    transform: rotate(0); }
  .navbar-toggle.collapsed .middle-bar {
    opacity: 1; }
  .navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0); }

@media (max-width: 768px) {
  .navbar-default {
    margin-top: 0 !important; }

  .navbar-default .navbar-nav {
    height: calc(100vh - 75px); }

  .side-collapse {
    top: 75px; }

  .navbar-default .navbar-toggle {
    padding-left: 15px;
    padding-right: 15px; } }
.hero {
  padding-top: 290px;
  min-height: 700px;
  background: linear-gradient(rgba(163, 27, 82, 0.76) 100%, rgba(163, 27, 82, 0.76) 100%), url("../img/mainbg.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center; }
  .hero .title {
    display: inline-block;
    border: 2px solid #f4d8ba;
    padding: 15px 65px 15px 65px; }
    .hero .title h2 {
      font-weight: 100;
      font-family: 'Roboto', sans-serif;
      color: #ffffff;
      font-size: 38px;
      margin: 0;
      padding: 0; }
    .hero .title h1 {
      font-weight: 700;
      font-family: 'Roboto', sans-serif;
      color: #f4d8ba;
      font-size: 38px;
      margin: 0;
      padding: 0; }
  .hero p {
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 21px;
    margin: 0;
    padding: 0px;
    margin-top: 55px; }
  .hero .mainbtn {
    margin-top: 60px; }
    .hero .mainbtn a {
      background: #f4d8ba;
      font-weight: 100;
      font-family: 'Roboto', sans-serif;
      color: #a31b52;
      font-size: 22px;
      margin: 0;
      padding: 15px 60px 15px 60px;
      border-radius: 5px;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
    .hero .mainbtn a:hover {
      background: #ffffff; }

.secst2 {
  background: #ffffff;
  border-bottom: 1px solid #eaeaea;
  position: relative;
  text-align: center; }
  .secst2 .cont {
    max-width: 500px;
    display: inline-block; }
    .secst2 .cont h1 {
      text-align: left; }
    .secst2 .cont p {
      text-align: left; }
  .secst2 .velikacrta {
    height: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    background: #a31b52;
    z-index: 1; }
  .secst2 h1 {
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: #a31b52;
    font-size: 38px;
    margin: 0;
    padding: 0;
    padding-top: 38px;
    padding-bottom: 38px; }
    .secst2 h1 span {
      font-weight: 700; }
  .secst2 p {
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: #555555;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-top: 30px; }
  .secst2 .col-md-4:nth-child(2) {
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    padding-bottom: 45px; }

.sectores {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px; }
  .sectores h1 {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #a31b52;
    font-size: 38px;
    margin: 0;
    padding: 0;
    text-align: center; }
  .sectores p {
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: #555555;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center; }
  .sectores ul {
    padding: 0;
    text-align: center;
    margin-top: 50px; }
    .sectores ul li {
      display: inline-block; }
      .sectores ul li .cont {
        margin-left: -5px;
        padding-top: 38px;
        display: table;
        width: 320px;
        height: 200px;
        border: 1px solid #eaeaea;
        position: relative; }
        .sectores ul li .cont p {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 40px; }
        .sectores ul li .cont img {
          display: block;
          margin: auto; }
    .sectores ul li:nth-child(2) {
      border-left: 0;
      border-right: 0; }

.contratar {
  background: linear-gradient(rgba(243, 162, 180, 0.8) 100%, rgba(243, 162, 180, 0.8) 100%), url("../img/lastsecbg.jpg") no-repeat top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px; }
  .contratar h1 {
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 38px;
    margin: 0;
    padding: 0;
    text-align: left; }
  .contratar p {
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-top: 60px; }
  .contratar .crtica {
    width: 1px;
    height: 80px;
    background: #ffffff;
    position: absolute;
    margin-top: 75px; }
  .contratar .btn2 {
    padding-top: 40px;
    text-align: right; }
    .contratar .btn2 a {
      background: #96daec;
      font-weight: 700;
      font-family: 'Roboto', sans-serif;
      color: #ffffff;
      font-size: 22px;
      letter-spacing: 1px;
      margin: 0;
      padding: 15px 60px 15px 60px;
      border-radius: 5px;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
    .contratar .btn2 a:hover {
      color: #96daec;
      background: #ffffff; }

.footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #ffffff; }
  .footer p {
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: left; }
    .footer p span {
      font-weight: 700; }

/*# sourceMappingURL=style.css.map */
