.how-it-works {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 88px;
  background: url("../img/how-it-works-bg.webp");
  background-position: 50% 65%;
  background-size: cover;
  background-repeat: no-repeat;
  .how-it-works-boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
    margin-bottom: 70px;
  }
}

@media(max-width: 1000px){
  .how-it-works .how-it-works-boxes{
    flex-direction: column;
    .box-type4{
      width: 100%;
      max-width: 100%;
      padding: 30px 25px;
      text-align: left;
      min-height: unset;
      display: block;
      .no{
        position: absolute;
        right: 23px;
        top: 14px;
        bottom: unset;
        left: unset;
        background: linear-gradient(180deg, #DFDFDF 13.1%, rgba(223, 223, 223, 0.00) 79.56%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      h3{
        margin-top: 18px;
      }
      h3,p{
        text-align: left;
        width: 100%;
        height: 100%;
        max-width: 100%;
        min-height: unset;
      }
    }
    .box-type4 .icon-place{
      margin: 0;
    }
  }
}
@media(max-width: 550px){
  .how-it-works .how-it-works-boxes{
    .box-type4{
      padding: 30px 15px;
    }
  }
}